/node_modules
/public/hot
/public/storage
/config
/storage/*.key
/vendor
/tests
/.idea
.env
.editorconfig
.env.backup
TODOLIST.md
.phpunit.result.cache
Homestead.json
Apache-PHP-7.2-x64_vhost.conf
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
.phpstorm.meta.php