textarea{
    resize: none;
}
textarea.form-control{
    height:auto;
}

.custom-field-btn{
    margin-bottom: 15px;
}

.form-check .form-checkbox .form-check-sign::before, .form-check .form-checkbox .form-check-sign::after{
    top: 50%;
    margin-top: -11px;
    left: 0;
    margin-left: 0;
}

.sidebar .nav li .nav-link.sub-nav-link{
    background-color: transparent;
    padding: 5px 15px 5px 30px;
}

.sidebar .nav li .nav-link, body>.navbar-collapse .nav li .nav-link{
    margin: 0 15px;
}

ul,ol .sidebar .nav li .nav-link.sub-nav-link{
    padding-left: 15px;
    margin-bottom: 0;
}

.post-thumbnail{
    position: relative;
}
button.remove_thumbnail {
    cursor: pointer;
    height: 25px;
    background-color: rgba(0,0,0,.5);
    display: block;
    border-radius: 50%;
    font-size: 12px;
    border: 0;
    width: 25px;
    top: 10px;
    right: 10px;
    color: #fff;
    outline: 0;
    position: absolute;
}

#post-thumbnail{
    max-width: 100%;
    height:auto;
}
.btn{
    cursor: pointer;
}

.table{
    margin-bottom: 0;
}

.trashed-posts{
    margin-left: 15px;
}

/*.card .card-body{*/
    /*padding: 15px 15px 0 15px;*/
/*}*/

.card .table tbody td:last-child, .card .table thead th:last-child{
    display: table-cell;
}

.select-cover{
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
}

.select-cover select.form-control{
    width: 250px;
    margin-right: 15px;
}

input[type="file"] {
    display: none;
}
#file-drag{
    display: block;
}
.uploader {
    display: block;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}
.uploader label {
    cursor:pointer;
}
.uploader label:hover {
    border-color: #454cad;
}
.uploader label.hover {
    border: 3px solid #454cad;
    box-shadow: inset 0 0 0 6px #eee;
}
.uploader label.hover #start i.fa {
    transform: scale(0.8);
    opacity: 0.3;
}
.uploader #start {
    float: left;
    clear: both;
    width: 100%;
}
.uploader #start.hidden {
    display: none;
}
.uploader #start i.fa {
    font-size: 50px;
    margin-bottom: 1rem;
    transition: all 0.2s ease-in-out;
}
.uploader #response {
    float: left;
    clear: both;
    width: 100%;
}
.uploader #response.hidden {
    display: none;
}
.uploader #response #messages {
    margin-bottom: 0.5rem;
}

.uploader #file-image.hidden {
    display: none;
}
.uploader #notimage {
    display: block;
    float: left;
    clear: both;
    width: 100%;
}
.uploader #notimage.hidden {
    display: none;
}
.uploader progress, .uploader .progress {
    display: inline;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 180px;
    height: 8px;
    border: 0;
    border-radius: 4px;
    background-color: #eee;
    overflow: hidden;
}
.uploader .progress[value]::-webkit-progress-bar {
    border-radius: 4px;
    background-color: #eee;
}
.uploader .progress[value]::-webkit-progress-value {
    background: linear-gradient(to right, #393f90 0%, #454cad 50%);
    border-radius: 4px;
}
.uploader .progress[value]::-moz-progress-bar {
    background: linear-gradient(to right, #393f90 0%, #454cad 50%);
    border-radius: 4px;
}
.uploader input[type="file"] {
    display: none;
}
.uploader div {
    margin: 0 0 0.5rem 0;
    color: #5f6982;
}
.uploader .btn {
    display: inline-block;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    clear: both;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background: #454cad;
    border-color: #454cad;
    cursor: pointer;
}

.sidebar .sidebar-wrapper, body>.navbar-collapse .sidebar-wrapper{
    padding-bottom: 0;
}

.form-check .form-checkbox-label{
    line-height: 0;
}

.form-check .form-checkbox-label .form-check-sign::before, .form-check .form-check-sign::after{
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
}

.form-check-radio input[type="radio"]:checked+.form-check-sign::after{
    top: 0;
    left: 0;
}


.users-table .user_actions{
    display: block;
}

.users-table .user_actions a,
.users-table .user_actions button{
    cursor: pointer;
    border:none;
    outline: none;
    background-color: transparent;
}

.users-table .user_actions button{
    color:red;
}

ul.mfb-component__list li a#add-folder{
    display: none !important;
}

.field-desc{
    margin: 10px 0;
}

select.multiple_list{
    height: 150px;
}

.field-desc p{
    font-style: italic;
    font-size: 14px;
    color: #868e96;
}

.footer .copyright {
    float: none;
}

.menu-box {
    margin-bottom: 30px;
}

.menu-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-box ul.menu-list li {
    display: block;
    margin-bottom: 5px;
    border: 1px solid #eee;
    background: #fff;
}

.menu-box ul.menu-list > li a {
    background: #fff;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu-box ul.menu-list > li a:hover {
    cursor: move;
}

.menu-box ul.menu-list ul {
    margin-left: 20px;
    margin-top: 5px;
}

.menu-box ul.menu-list ul li a {
    color: #000;
}

ul.menu-list li a button{
    cursor: pointer;
}

.menu-box li.menu-highlight {
    border: 1px dashed red !important;
    background: #f5f5f5;
}

ul.pagination{
    margin-bottom: 20px;
}

.card-body table{
    margin-bottom: 10px;
}

.accordion h2{
    margin: 0;
}

.accordion h2 button{
    width: 100%;
}

.accordion .card-header{
    padding: 15px;
}

.group_headline{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.repeater_item{
    margin-bottom: 15px;
}

/*.toogleGroup{*/
    /*outline: none !important;*/
    /*background: none;*/
    /*border: 1px solid #000;*/
    /*width: 35px;*/
    /*height: 20px;*/
    /*line-height: 15px;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*display: block;*/
    /*cursor: pointer;*/
    /*font-size: 20px;*/
/*}*/

.group_headline h4{
    margin-top: 0;
    margin-bottom: 0;
}

.custom-form-group label{
    width: 100%;
}

.custom-form-group {
    position: relative;
}

.repeater-group{
    position: relative;
}

.duplicate_group{
    margin-top: 20px;
}

.remove_repeater_field{
    position: absolute;
    top: 0;
    right: 0;
    outline: none !important;
    border: none;
    border-radius: 50%;
    font-size: 11px;
    cursor: pointer;
}
.custom-form-group .remove_field{
    position: absolute;
    top: 8px;
    right: -8px;
    outline: none !important;
    border: none;
    border-radius: 50%;
    font-size: 11px;
    cursor: pointer;
}
.choose_field{
    margin-bottom: 20px;
}
.repeater_cover{
    padding: 20px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #000;
}
#custom_repeater_cover,
#custom_repeater_buttons{
    display: none;
}

#custom_repeater_buttons{
    margin-bottom: 20px;
}

.add-repeater-field-btn,
.insert-repeater-fields-btn{
    margin-top: 20px;
}
.choose-image {
    width: 100%;
    margin-bottom: 30px;
}

@media screen and (max-width: 991px)
{
    .navbar{
        max-height: inherit;
    }
}