.footer-area{
    padding: 50px 0;
}

.thumb img{
    max-width: 197px;
}
.footer-bottom{
    padding-top: 0;
    align-items: center;
}

.footer-bottom p {
    margin-bottom: 0;
}

.generic-banner .height{
    height: 300px;
}
.pagination_cover{
    text-align: center;
}
.pagination{
    margin-bottom: 60px;
    justify-content: center;
}

.single-travel{
    margin-bottom: 30px;
}

.addthis_inline_share_toolbox{
    text-align: right;
}

.post_liked #like_post{
    color:red;
}

.team-area .thumb img{
    max-width: 100%;
}

.user-profile{
    text-align: center;
    margin-bottom: 30px;
}

.radio-cover{
    display: flex;
    align-items: center;
}

.radio-cover p{
    margin-bottom: 0;
    margin-right: 15px;
}

.remember_checkbox{
    padding: 0 35px;
    text-align: center;
}

.social-links a,
.social-links i{
    color: #777;
}

.login-actions a,
.login-actions button{
    float: none;
    display: block;
    margin:0 auto;
}

.login-actions a{
    color: #777777;
}
/*select.form-control:not([size]):not([multiple]){*/
    /*height: auto;*/
/*}*/

.primary-radio input+label{
    border:1px solid red;
}

input#file-upload{
    display: none;
}

div#notimage{
    cursor: pointer;
}

.img-profile {
    max-width: 200px;
    display: block;
    margin: 15px auto;
}

.img-profile-edited{
    display: inline-block;
    max-width: 200px;
    margin-bottom: 15px;
}

.card-title {
    margin-bottom: 0;
}
.search-filter{
    margin: 30px 0;
}

.search-filter .nice-select{
    width: 100%;
}

.search-filter h4{
    color: #ffffff;
    margin-bottom: 15px;
}

.search-result-count{
    padding: 15px 0;
    margin: 0;
    display: block;
    float: none;
}

.input-group-addon button{
    cursor: pointer;
    outline: none !important;
}

.comment-buttons {
    display: flex;
    width: 220px;
    height: 45px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comment-sec-area .btn-reply.delete-comment{
    background-color: red;
    border: 1px solid red;
}

.comment-sec-area .btn-reply.delete-comment:hover{
    background-color: #fff;
    color:red;
}

.edit-comment,
.reply-to-comment,
.update-comment,
button.close,
.delete-comment{
    outline: none !important;
    cursor: pointer;
}



#like_post{
    color:blue;
    display: block;
    max-width: 50px;
    font-weight: 700;
    cursor: pointer;
}

.thumb.comment-author-thumbnail img{
    max-width: 62px;
}

.contact_form{
    margin-top: 30px;
}

.contact_row{
    margin-bottom: 30px;
}

.breadcrumbs span{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.lnr-arrow-right:before {
    content: "\e87a";
    position: relative;
    top: 2px;
}

.post-thumbnail{
    text-align: center;
}

.user-img img{
    width: 40px;
    height: 40px;
}

.languages-list{
    display: flex;
}

.languages-list li{
    margin-right:15px;
}

.languages-list a{
    color: #ffffff;
}