.footer-area{
    padding: 50px 0;
}

.thumb img{
    max-width: 197px;
}
.footer-bottom{
    padding-top: 0;
    align-items: center;
}

.footer-bottom p {
    margin-bottom: 0;
}

.generic-banner .height{
    height: 300px;
}
.pagination_cover{
    text-align: center;
}
.pagination{
    margin-bottom: 60px;
    justify-content: center;
}

.addthis_inline_share_toolbox{
    text-align: right;
}

.post_liked #like_post{
    color:red;
}

.team-area .thumb img{
    max-width: 100%;
}

.comment-buttons {
    display: flex;
    width: 220px;
    height: 45px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comment-sec-area .btn-reply.delete-comment{
    background-color: red;
    border: 1px solid red;
}

.comment-sec-area .btn-reply.delete-comment:hover{
    background-color: #fff;
    color:red;
}

.edit-comment,
.reply-to-comment,
.update-comment,
button.close,
.delete-comment{
    outline: none !important;
    cursor: pointer;
}



#like_post{
    color:blue;
    display: block;
    max-width: 50px;
    font-weight: 700;
    cursor: pointer;
}

.thumb.comment-author-thumbnail img{
    max-width: 62px;
}

.contact_form{
    margin-top: 30px;
}

.contact_row{
    margin-bottom: 30px;
}

.breadcrumbs span{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.lnr-arrow-right:before {
    content: "\e87a";
    position: relative;
    top: 2px;
}

.post-thumbnail{
    text-align: center;
}

.user-img img{
    width: 40px;
    height: 40px;
}